<form [formGroup]="registerForm">
  <mat-form-field>
    <input matInput placeholder="First name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last name" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Country" formControlName="country"
           [matAutocomplete]="countriesPicker">
    <mat-autocomplete #countriesPicker="matAutocomplete" [displayWith]="displayCountryName">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{ country.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>Population: {{ population$ | async }}</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</form>
