<form [formGroup]="registerForm">
  <mat-form-field>
    <input matInput placeholder="First name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last name" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Country" formControlName="country"
           [matAutocomplete]="countriesPicker">
    <mat-autocomplete #countriesPicker="matAutocomplete">
      <mat-option *ngFor="let country of countries">
        {{ country.name }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint>Population</mat-hint>
  </mat-form-field>
</form>
