<form>
  <mat-form-field>
    <input matInput placeholder="First name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last name" formControlName="lastName">
    <mat-hint align="start">Population</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Country" matInput formControlName="country"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

